RewriteEngine On

# If the request is not for a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all API requests to index.php
RewriteRule ^api/ index.php [L,QSA] 